.css-12oz5g7.egzxvld2 {
    padding-top: 0px;
}

.css-1v0mbdj.etr89bj1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 180px;
    max-width: 40%;
}

.css-10trblm.e16nr0p30 {
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 19px;
} 

MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}

.stApp {
    background-image: url('background.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5); /* Layer cinza com 50% de transparência */
    z-index: -1;
}


/* Estilizando a coluna col2 com imagem de fundo */
.col2-custom {
    position: relative;
    background-image: url('background.jpg') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

/* Layer cinza sobre a imagem de fundo */
.col2-custom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5); /* Camada cinza com transparência */
    z-index: 1;
}

/* Ajustando o conteúdo da coluna col2 para estar sobre o background */
.col2-custom > div {
    position: relative;
    z-index: 2; /* Coloca o conteúdo acima do overlay */
}